Repository WoW-2-0-Projects/Feedback.Analyzer, pull requests merged in 2024-03, with the labels that each got.

#70 Create `OrganizationTab`
  src/Insight.Box.FrontEnd/index.html
  src/Insight.Box.FrontEnd/src/App.vue
  src/Insight.Box.FrontEnd/src/assets/formStyles.css
  src/Insight.Box.FrontEnd/src/assets/main.css
  src/Insight.Box.FrontEnd/src/assets/modalStyles.css
  src/Insight.Box.FrontEnd/src/common/components/appButton/AppButton.vue
  src/Insight.Box.FrontEnd/src/common/components/appButton/ButtonType.ts
  src/Insight.Box.FrontEnd/src/common/components/dropDown/DropDownValue.ts
  src/Insight.Box.FrontEnd/src/common/components/dropDown/FormDropDown.vue
  src/Insight.Box.FrontEnd/src/common/components/formInput/FormInput.vue
  src/Insight.Box.FrontEnd/src/common/components/formInput/FormInputType.ts
  src/Insight.Box.FrontEnd/src/common/components/infiniteScroll/InfiniteScroll.vue
  src/Insight.Box.FrontEnd/src/common/components/mainHeader/MainHeader.vue
  src/Insight.Box.FrontEnd/src/common/components/searchBar/FormSearchBar.vue
  src/Insight.Box.FrontEnd/src/common/constants/LayoutConstants.ts
  src/Insight.Box.FrontEnd/src/common/views/MainView.vue
  src/Insight.Box.FrontEnd/src/infrastructure/models/notifications/Action.ts
  src/Insight.Box.FrontEnd/src/infrastructure/router/RouteName.ts
  src/Insight.Box.FrontEnd/src/infrastructure/router/Router.ts
  src/Insight.Box.FrontEnd/src/infrastructure/services/document/DocumentService.ts
  src/Insight.Box.FrontEnd/src/main.ts
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationsSearchBar.vue
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationsTab.vue
  src/Insight.Box.FrontEnd/src/modules/organizations/models/OrganizationFilter.ts
  src/Insight.Box.FrontEnd/tailwind.config.js
Labels: frontend, high, feature

#62 Create ` Product` entity services
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/ProductsController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Data/SeedDataExtensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Organizations/Queries/OrganizationGetByIdQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Organizations/Queries/OrganizationGetQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Commands/ProductCreateCommand.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Commands/ProductDeleteByIdCommand.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Commands/ProductUpdateCommand.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Mappers/ProductMapper.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Models/ProductDto.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Models/ProductFilter.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Queries/ProductGetByIdQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Queries/ProductGetQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Services/IProductService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/CommandHandlers/ProductCreateCommandHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/CommandHandlers/ProductDeleteByIdCommandHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/CommandHandlers/ProductUpdateCommandHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/QueryHandlers/ProductGetByIdQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/QueryHandlers/ProductGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/Services/ProductService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/Validators/ProductValidator.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastucture/Clients/Services/ClientService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastucture/Common/Validators/ClientValidator.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastucture/Feedback.Analyzer.Infrastucture.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Migrations/20240226062731_Add Client Entity.Designer.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Migrations/20240226062731_Add Client Entity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Migrations/20240226085026_Add_Organization Entity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Migrations/AppDbContextModelSnapshot.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Repositories/ProductRepository.cs
Labels: backend, high, feature

#71 Create `ProductsTab` component
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Models/ProductFilter.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Queries/ProductGetQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Services/IProductService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/QueryHandlers/ProductGetQueryHandler.cs
  src/Insight.Box.FrontEnd/src/common/components/formDropDown/DropDownValue.ts
  src/Insight.Box.FrontEnd/src/common/components/formDropDown/FormDropDown.vue
  src/Insight.Box.FrontEnd/src/common/components/formSearchBar/FormSearchBar.vue
  src/Insight.Box.FrontEnd/src/common/constants/LayoutConstants.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/formatters/RequestFormatterService.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/InsightBoxApiClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/ProductsEndpointsClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/models/query/FilterPagination.ts
  src/Insight.Box.FrontEnd/src/infrastructure/models/query/Query.ts
  src/Insight.Box.FrontEnd/src/infrastructure/router/RouteName.ts
  src/Insight.Box.FrontEnd/src/infrastructure/router/Router.ts
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationsSearchBar.vue
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationsTab.vue
  src/Insight.Box.FrontEnd/src/modules/products/components/ProductsSearchBar.vue
  src/Insight.Box.FrontEnd/src/modules/products/components/ProductsTab.vue
  src/Insight.Box.FrontEnd/src/modules/products/models/Product.ts
  src/Insight.Box.FrontEnd/src/modules/products/models/ProductFilter.ts
Labels: frontend, high, feature

#75 Create `ProductModal` component
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/ProductsController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Feedback.Analyzer.Api.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/appsettings.Development.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/appsettings.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Constants/ApiConstants.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Settings/CorsSettings.cs
  src/Insight.Box.FrontEnd/index.html
  src/Insight.Box.FrontEnd/src/assets/formStyles.css
  src/Insight.Box.FrontEnd/src/assets/main.css
  src/Insight.Box.FrontEnd/src/assets/modalStyles.css
  src/Insight.Box.FrontEnd/src/common/components/appButton/AppButton.vue
  src/Insight.Box.FrontEnd/src/common/components/appButton/ButtonLayout.ts
  src/Insight.Box.FrontEnd/src/common/components/appButton/ButtonRole.ts
  src/Insight.Box.FrontEnd/src/common/components/buttons/CloseButton.vue
  src/Insight.Box.FrontEnd/src/common/components/formDropDown/FormDropDown.vue
  src/Insight.Box.FrontEnd/src/common/components/formInput/FormInput.vue
  src/Insight.Box.FrontEnd/src/common/components/modalBase/ModalBase.vue
  src/Insight.Box.FrontEnd/src/common/constants/LayoutConstants.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/ProductsEndpointsClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/models/command/Command.ts
  src/Insight.Box.FrontEnd/src/main.ts
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationsTab.vue
  src/Insight.Box.FrontEnd/src/modules/products/components/ProductModal.vue
  src/Insight.Box.FrontEnd/src/modules/products/components/ProductsSearchBar.vue
  src/Insight.Box.FrontEnd/src/modules/products/components/ProductsTab.vue
  src/Insight.Box.FrontEnd/src/modules/products/models/CreateProductCommand.ts
  src/Insight.Box.FrontEnd/src/modules/products/models/Product.ts
  src/Insight.Box.FrontEnd/tailwind.config.js
Labels: frontend, high, feature

#76 `OrganizationCard` component is added
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Properties/launchSettings.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Clients/Queries/ClientGetQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/CustomerFeedbacks/Queries/CustomerFeedbackGetQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Organizations/Queries/OrganizationGetQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Clients/QueryHandlers/ClientGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/CustomerFeedbacks/QueryHandlers/CustomerFeedbackGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Organizations/QueryHandlers/OrganizationGetQueryHandler.cs
  src/Insight.Box.FrontEnd/src/common/FilterPagination.ts
  src/Insight.Box.FrontEnd/src/common/views/HomeView.vue
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/InsightBoxApiClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/OrganizationsEndpoints.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/ProductsEndpointsClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/models/notifications/Action.ts
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationCard.vue
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationsTab.vue
  src/Insight.Box.FrontEnd/src/modules/organizations/models/Organization.ts
  src/Insight.Box.FrontEnd/src/modules/organizations/models/OrganizationFilter.ts
  src/Insight.Box.FrontEnd/src/modules/products/components/ProductsTab.vue
  src/Insight.Box.FrontEnd/src/modules/products/models/Product.ts
Labels: frontend, medium, feature

#92 Create an `AnalysisPromptCategory` entity
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/PromptsController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Data/SeedDataExtensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/PromptCategory/Models/AnalysisPromptCategoryDto.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/PromptCategory/Models/PromptCategoryFilter.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/PromptCategory/Quearies/PromptCategoryGetQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/PromptCategory/Services/IPromptCategoryService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Models/AnalysisPromptDto.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Models/PromptResultDto.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Queries/PromptGetByIdQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Extensions/EnumExtensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Prompts/QueryHandlers/PromptResultGetByCategoryIdQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/PromptsCategories/Mappers/PromptCategoryMappers.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/PromptsCategories/QueryHandlers/PromptCategoryGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/PromptsCategories/Services/PromptCategoryService.cs
Labels: backend, database, business logic, high, feature

#94 Add `Execution` service
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/WorkflowsController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Data/SeedDataExtensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Brokers/IPromptExecutionBroker.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Services/IPromptExecutionProcessingService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Workflows/Events/ExecuteWorkflowSinglePromptEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Feedback.Analyzer.Application.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Exceptions/FuncResult.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Constants/PromptConstants.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Extensions/ExceptionExtensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Prompts/Brokers/PromptExecutionBroker.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Prompts/Services/PromptExecutionProcessingService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Workflows/EventHandlers/ExecuteWorkflowSinglePromptEventHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Feedback.Analyzer.Infrastructure.csproj
Labels: backend, business logic, high, feature

#105 Create `FeedbackAnalysisResult` business logic
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/FeedbackAnalysisResultsController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisResults/Commands/FeedbackAnalysisResultCreateCommand.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisResults/Models/FeedbackAnalysisResultDto.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisResults/Models/FeedbackAnalysisResultFilter.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisResults/Queries/FeedbackAnalysisResultGetByWorkflowResultIdQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisResults/Queries/FeedbackAnalysisResultGetQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisResults/Services/IFeedbackAnalysisResultService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisResults/CommandHandlers/FeedbackAnalysisResultCreateCommandHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisResults/Mappers/FeedbackAnalysisResultMapper.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisResults/QueryHandlers/FeedbackAnalysisResultGetByIdQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisResults/QueryHandlers/FeedbackAnalysisResultGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisResults/Services/FeedbackAnalysisResultService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Repositories/FeedbackAnalysisResultRepository.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Repositories/Interfaces/IFeedbackAnalysisResultRepository.cs
Labels: backend, database, high, feature

#108 Create `Sign-in` modal
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/AuthController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/ClientsController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/appsettings.Development.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Clients/Queries/CheckUserByEmailAddressQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Clients/QueryHandlers/CheckUserExistenceQueryHandler.cs
  src/Insight.Box.FrontEnd/src/App.vue
  src/Insight.Box.FrontEnd/src/common/components/appNavigation/NavItem.vue
  src/Insight.Box.FrontEnd/src/common/components/formInput/FormInput.vue
  src/Insight.Box.FrontEnd/src/common/components/mainHeader/MainHeader.vue
  src/Insight.Box.FrontEnd/src/common/components/modalBase/ModalBase.vue
  src/Insight.Box.FrontEnd/src/common/constants/LayoutConstants.ts
  src/Insight.Box.FrontEnd/src/common/views/HomeView.vue
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/apiClientBase/ApiClientBase.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/AuthEndpointsClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/ClientsEndpointsClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/InsightBoxApiClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/services/router/RouterService.ts
  src/Insight.Box.FrontEnd/src/infrastructure/services/storage/LocalStorageService.ts
  src/Insight.Box.FrontEnd/src/infrastructure/stores/AccountStore.ts
  src/Insight.Box.FrontEnd/src/main.ts
  src/Insight.Box.FrontEnd/src/modules/accounts/companents/AuthModal.vue
  src/Insight.Box.FrontEnd/src/modules/accounts/models/Account.ts
  src/Insight.Box.FrontEnd/src/modules/accounts/models/Client.ts
  src/Insight.Box.FrontEnd/src/modules/accounts/models/IdentityToken.ts
  src/Insight.Box.FrontEnd/src/modules/accounts/models/SignInDetails.ts
  src/Insight.Box.FrontEnd/src/modules/accounts/models/SignUpDetails.ts
  src/Insight.Box.FrontEnd/src/modules/accounts/services/AuthenticationService.ts
  src/Insight.Box.FrontEnd/tailwind.config.js
Labels: frontend, medium, feature

#115 Create `FeedbackAnalysisOrchestrationService`
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Events/AfterPromptExecutionEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Events/BeforePromptExecutionEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Models/WorkflowContext.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisWorkflows/Models/SingleFeedbackAnalysisWorkflowContext.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisWorkflows/Services/IFeedbackAnalysisOrchestrationService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Enums/WorkflowStatus.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/EventHandlers/AfterPromptExecutionEventHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/EventHandlers/BeforePromptExecutionEventHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/Services/FeedbackAnalysisOrchestrationService.cs
Labels: backend, business logic, high, feature

#119 Create `WorkflowModal` component
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/AuthController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Data/SeedDataExtensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/appsettings.Development.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisWorkflows/Commands/FeedbackAnalysisWorkflowCreateCommand.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisWorkflows/Models/FeedbackAnalysisWorkflowFilter.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisWorkflows/Services/IFeedbackAnalysisWorkflowProcessingService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisWorkflows/Services/IFeedbackAnalysisWorkflowService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Products/Models/ProductFilter.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Brokers/IRequestClientContextProvider.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Queries/QueryOptions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Entities/WorkflowExecutionOption.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Identity/CommandHandlers/SignOutCommandHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Identity/QueryHandlers/GetCurrentUserQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Identity/Services/AuthService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/RequestContexts/Brokers/RequestContextProvider.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/CommandHandlers/FeedbackAnalysisWorkflowCreateCommandHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/QueryHandlers/FeedbackAnalysisWorkflowGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/Services/FeedbackAnalysisWorkflowProcessingService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/Services/FeedbackAnalysisWorkflowService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/QueryHandlers/ProductGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/Services/ProductService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Extensions/EfCoreExtensions.cs
  src/Insight.Box.FrontEnd/src/common/components/formDropDown/DropDownValue.ts
  src/Insight.Box.FrontEnd/src/common/components/formDropDown/FormDropDown.vue
  src/Insight.Box.FrontEnd/src/common/constants/LayoutConstants.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/WorkflowsEndpointsClient.ts
  src/Insight.Box.FrontEnd/src/modules/accounts/models/Client.ts
  src/Insight.Box.FrontEnd/src/modules/workflows/components/WorkflowModal.vue
  src/Insight.Box.FrontEnd/src/modules/workflows/components/WorkflowsTab.vue
  src/Insight.Box.FrontEnd/src/modules/workflows/models/CreateFeedbackAnalysisWorkflowCommand.ts
  src/Insight.Box.FrontEnd/src/modules/workflows/models/FeedbackAnalysisWorkflow.ts
  src/Insight.Box.FrontEnd/src/modules/workflows/models/FeedbackAnalysisWorkflowFilter.ts
  src/Insight.Box.FrontEnd/src/modules/workflows/models/UpdateFeedbackAnalysisWorkflowCommand.ts
Labels: frontend, high, feature

#127 Create `WorkflowCard` component
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/WorkflowsController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisWorkflows/Models/FeedbackAnalysisWorkflowDto.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/Mappers/FeedbackAnalysisWorkflowMapper.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/QueryHandlers/FeedbackAnalysisWorkflowGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Repositories/EntityRepositoryBase.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Repositories/FeedbackAnalysisWorkflowRepository.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Repositories/Interfaces/IFeedbackAnalysisWorkflowRepository.cs
  src/Insight.Box.FrontEnd/index.html
  src/Insight.Box.FrontEnd/src/assets/cardStyles.css
  src/Insight.Box.FrontEnd/src/assets/formStyles.css
  src/Insight.Box.FrontEnd/src/assets/main.css
  src/Insight.Box.FrontEnd/src/common/components/appButton/AppButton.vue
  src/Insight.Box.FrontEnd/src/common/components/appNavigation/NavItem.vue
  src/Insight.Box.FrontEnd/src/common/components/doughnutChart/DoughnutChart.vue
  src/Insight.Box.FrontEnd/src/common/components/formDropDown/FormDropDown.vue
  src/Insight.Box.FrontEnd/src/common/components/formInput/FormInput.vue
  src/Insight.Box.FrontEnd/src/common/constants/LayoutConstants.ts
  src/Insight.Box.FrontEnd/src/common/views/MainView.vue
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/WorkflowsEndpointsClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/services/charts/ChartService.ts
  src/Insight.Box.FrontEnd/src/infrastructure/services/router/RouterService.ts
  src/Insight.Box.FrontEnd/src/modules/workflows/components/WorkflowCard.vue
  src/Insight.Box.FrontEnd/src/modules/workflows/components/WorkflowModal.vue
  src/Insight.Box.FrontEnd/src/modules/workflows/components/WorkflowsTab.vue
  src/Insight.Box.FrontEnd/src/modules/workflows/models/FeedbackAnalysisWorkflow.ts
  src/Insight.Box.FrontEnd/src/modules/workflows/models/FeedbackAnalysisWorkflowFilter.ts
  src/Insight.Box.FrontEnd/src/modules/workflows/models/WorkflowType.ts
  src/Insight.Box.FrontEnd/tailwind.config.js
Labels: frontend, high, feature

#124 Add mass transit in memory event bus
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Feedback.Analyzer.Api.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/EventBus/Brokers/IEventBusBroker.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Identity/Events/ClientCreatedEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Workflows/Events/ExecuteWorkflowSinglePromptEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Events/EventBase.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Events/EventHandlerBase.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Events/IEventHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Feedback.Analyzer.Domain.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/EventBus/Brokers/MassTransitEventBusBroker.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/EventBus/Brokers/RabbitMqEventBusBroker.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Identity/EventHandlers/UserCreatedEventHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Workflows/EventHandlers/ExecuteWorkflowSinglePromptEventHandler.cs
Labels: backend, medium, feature, configuration

#142 Fix event handlers
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Events/AfterPromptExecutionEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Events/BeforePromptExecutionEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisWorkflows/Events/AnalyzeFeedbackEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/FeedbackAnalysisWorkflows/Events/AnalyzeWorkflowFeedbacksEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/EventHandlers/AfterPromptExecutionEventHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/EventHandlers/AnalyzeFeedbackEventHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/EventHandlers/AnalyzeWorkflowFeedbacksEventHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/EventHandlers/BeforePromptExecutionEventHandler.cs
Labels: bug, backend, high

#126 Create `OrganizationModal` component
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Organizations/Models/OrganizationDto.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Organizations/Models/OrganizationFilter.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Organizations/QueryHandlers/OrganizationGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Organizations/Services/OrganizationService.cs
  src/Insight.Box.FrontEnd/package-lock.json
  src/Insight.Box.FrontEnd/package.json
  src/Insight.Box.FrontEnd/src/common/components/confirmationModal/ConfirmationModal.vue
  src/Insight.Box.FrontEnd/src/common/components/modalBase/ModalBase.vue
  src/Insight.Box.FrontEnd/src/common/constants/LayoutConstants.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/apiClientBase/ApiClientBase.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/OrganizationsEndpoints.ts
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationCard.vue
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationModal.vue
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationsSearchBar.vue
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationsTab.vue
  src/Insight.Box.FrontEnd/src/modules/organizations/models/CreateOrganizationCommand.ts
  src/Insight.Box.FrontEnd/src/modules/organizations/models/Organization.ts
  src/Insight.Box.FrontEnd/src/modules/organizations/models/UpdateOrganizationCommand.ts
Labels: frontend, medium, feature

#144 Fix `FeedbackBatchAnalysisOrchestrationService` workflow
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Data/SeedDataExtensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Prompts/Brokers/PromptExecutionBroker.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/FeedbackAnalysisWorkflows/Mappers/FeedbackAnalysisWorkflowMapper.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Repositories/WorkflowExecutionOptionRepository.cs
Labels: bug, backend, business logic, high

#147 Create `PromptsTab` companent
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/PromptCategory/Models/AnalysisPromptCategoryDto.cs
  src/Insight.Box.FrontEnd/index.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/InsightBoxApiClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/PromptsEndpointsClient.ts
  src/Insight.Box.FrontEnd/src/infrastructure/services/router/RouterService.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/components/PromptsSearchBar.vue
  src/Insight.Box.FrontEnd/src/modules/prompts/components/PromptsTab.vue
  src/Insight.Box.FrontEnd/src/modules/prompts/models/AnalysisPrompt.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/models/AnalysisPromptCategory.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/models/CreatePromptCommand.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/models/FeedbackAnalysisPromptCategory.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/models/PromptCategoryFilter.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/models/PromptExecutionResultDto.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/models/PromptFilter.ts
Labels: frontend, high, feature

#152 create `promptsCard` companent
  src/Insight.Box.FrontEnd/src/infrastructure/models/notifications/Function.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/components/PromptCategoryCard.vue
  src/Insight.Box.FrontEnd/src/modules/prompts/components/PromptsTab.vue
  src/Insight.Box.FrontEnd/src/modules/prompts/models/AnalysisWorkflowFilter.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/models/FeedbackAnalysisWorkflow.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/models/WorkflowType.ts
Labels: frontend, high, feature

#148 Fix modals that edit resources
  src/Insight.Box.FrontEnd/src/modules/organizations/components/OrganizationsTab.vue
  src/Insight.Box.FrontEnd/src/modules/products/components/ProductsTab.vue
  src/Insight.Box.FrontEnd/src/modules/workflows/components/WorkflowsTab.vue
Labels: bug, frontend, high

#157 Create `Prompt Modal`
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/Prompts/Models/AnalysisPromptDto.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Prompts/Mappers/PromptMapper.cs
  src/Insight.Box.FrontEnd/src/common/components/formEditor/FormEditor.vue
  src/Insight.Box.FrontEnd/src/infrastructure/models/notifications/Action.ts
  src/Insight.Box.FrontEnd/src/infrastructure/models/textContent/TextContentSnapshotQueue.ts
  src/Insight.Box.FrontEnd/src/modules/prompts/components/PromptCategoryCard.vue
  src/Insight.Box.FrontEnd/src/modules/prompts/components/PromptModal.vue
  src/Insight.Box.FrontEnd/src/modules/prompts/components/PromptsTab.vue
  src/Insight.Box.FrontEnd/src/modules/prompts/models/AnalysisPrompt.ts
  src/Insight.Box.FrontEnd/src/modules/workflows/models/FeedbackAnalysisWorkflow.ts
Labels: frontend, high, feature

#125 Add client validation for product CRUD operations
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Controllers/ProductsController.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/CommandHandlers/ProductCreateCommandHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/CommandHandlers/ProductDeleteByIdCommandHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/QueryHandlers/ProductGetQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/Services/ProductService.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Products/Validators/ProductValidator.cs
Labels: bug, backend, business logic, high
