Repository WoW-2-0-Projects/Feedback.Analyzer, pull requests merged in 2024-02, with the labels that each got.

#6 Initialize Backend project
  .gitignore
  src/Feedback.Analyzer.Backend/.gitignore
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Feedback.Analyzer.Api.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Program.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Properties/launchSettings.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/appsettings.Development.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/appsettings.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Feedback.Analyzer.Application.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Feedback.Analyzer.Domain.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastucture/Feedback.Analyzer.Infrastucture.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Feedback.Analyzer.Persistence.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.sln
Labels: backend, high, feature

#16 feature/#12
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Feedback.Analyzer.Api.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Program.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Properties/launchSettings.json
Labels: backend, high, configuration

#17 Create domain entities
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Entities/AuditableEntity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Entities/Entity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Entities/IAuditableEntity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Entities/ICreationAuditableEntity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Entities/IDeletionAuditableEntity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Entities/IEntity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Entities/IModificationAuditableEntity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Entities/ISoftDeletedEntity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Entities/SoftDeletedEntity.cs
Labels: backend, high, feature

#22 Create `Client` Entity
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/appsettings.Development.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Entities/Client.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Enums/EntityEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Configurations/ClientConfiguration.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/DataContexts/AppDbContext.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Feedback.Analyzer.Persistence.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Migrations/20240226062731_Add Client Entity.Designer.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Migrations/20240226062731_Add Client Entity.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Migrations/AppDbContextModelSnapshot.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Repositories/ClientRepository.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Repositories/Interfaces/IClientRepository.cs
Labels: backend, high, feature

#20 Add common CQRS infrastructure
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Feedback.Analyzer.Api.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Common/EventBus/Brokers/IEventBusBroker.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Commands/ICommand.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Commands/ICommandHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Events/Event.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Events/IEvent.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Events/IEventHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Queries/IQuery.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Common/Queries/IQueryHandler.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Feedback.Analyzer.Domain.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/EventBus/Brokers/EventBusBroker.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Feedback.Analyzer.Infrastructure.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.sln
Labels: backend, medium, feature

#27 Backend automatic build and push to ACR
  .github/workflows/BackendDeployToRelease.yml
Labels: devops, high

#30 Create frontend solution
  src/Insight.Box.FrontEnd/.gitignore
  src/Insight.Box.FrontEnd/.vscode/extensions.json
  src/Insight.Box.FrontEnd/Dockerfile
  src/Insight.Box.FrontEnd/README.md
  src/Insight.Box.FrontEnd/env.d.ts
  src/Insight.Box.FrontEnd/index.html
  src/Insight.Box.FrontEnd/package-lock.json
  src/Insight.Box.FrontEnd/package.json
  src/Insight.Box.FrontEnd/public/favicon.ico
  src/Insight.Box.FrontEnd/src/App.vue
  src/Insight.Box.FrontEnd/src/assets/main.css
  src/Insight.Box.FrontEnd/src/common/views/HomeView.vue
  src/Insight.Box.FrontEnd/src/infrastructure/router/Router.ts
  src/Insight.Box.FrontEnd/src/main.ts
  src/Insight.Box.FrontEnd/tailwind.config.js
  src/Insight.Box.FrontEnd/tsconfig.app.json
  src/Insight.Box.FrontEnd/tsconfig.json
  src/Insight.Box.FrontEnd/tsconfig.node.json
  src/Insight.Box.FrontEnd/vite.config.ts
Labels: frontend, medium, feature

#31 Add deployment job to ACA
  .github/workflows/BackendDeployToRelease.yml
Labels: devops

#32 Deployment job on BackendDeployToRelease.yml
  .github/workflows/BackendDeployToRelease.yml
Labels: devops

#39 Fix tailwind css configuration
  src/Insight.Box.FrontEnd/package-lock.json
  src/Insight.Box.FrontEnd/package.json
  src/Insight.Box.FrontEnd/postcss.config.js
  src/Insight.Box.FrontEnd/src/App.vue
  src/Insight.Box.FrontEnd/src/common/views/HomeView.vue
  src/Insight.Box.FrontEnd/src/infrastructure/router/Router.ts
  src/Insight.Box.FrontEnd/src/main.ts
  src/Insight.Box.FrontEnd/tailwind.config.js
Labels: bug, frontend, high

#54 Crate Api client
  src/Insight.Box.FrontEnd/package-lock.json
  src/Insight.Box.FrontEnd/package.json
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/apiClientBase/ApiClientBase.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/apiClientBase/ApiResponse.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/apiClientBase/ProblemDetails.ts
  src/Insight.Box.FrontEnd/src/infrastructure/apiClients/insightBoxClient/brokers/InsightBoxApiClient.ts
Labels: frontend, high, feature

#58 Fix CI/CD workflows
  .github/workflows/BackendDeployToRelease.yml
  .github/workflows/FrontendDeployToRelease.yml
  src/Feedback.Analyzer.Backend/.gitignore
Labels: bug, devops, high

#60 Fix clients query mapping issue and database initialization issue
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Configurations/HostConfiguration.Extensions.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/Feedback.Analyzer.Api.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Api/appsettings.json
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Clients/Mappers/ClientMapper.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Application/Feedback.Analyzer.Application.csproj
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Domain/Constants/DataAccessConstants.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Infrastructure/Common/Settings/DataAccessSettings.cs
  src/Feedback.Analyzer.Backend/Feedback.Analyzer.Persistence/Feedback.Analyzer.Persistence.csproj
Labels: bug, backend, high, configuration
